body {
  margin: 0;
}
/*--------Estilos generales--------*/
.title-subtitle {
  background-color: #c4c4c4;
  color: #005677;
  letter-spacing: 10px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-whiteSpace {
  white-space: pre;
}

/*--------Estilos header--------*/
header {
  text-align: center;
  margin-bottom: 100px;
  background-color: #e5e5e5;
}
header h1 {
  width: 100%;
}

/*--------Estilos main--------*/
main #academic-area ul,
main #experience-area ul {
  list-style: none;
}
main #AboutMe {
  color: black;
  background-color: #2ecc71;
  text-decoration: none;
  font-size: 20px;
}

/*--------Estilos footer--------*/
footer {
  color: white;
  background-color: #005677;
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
footer p,
a {
  margin: 0;
  padding: 5px 20px 5px 0;
}
